body {
    background: linear-gradient(to right, #ff7e5f, #feb47b); 
    font-family: 'Arial', sans-serif; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}
#gameArea {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 20px; 
}
#opponentArea {
    position: absolute; 
    top: 5px; 
    left: 10px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
#opponentArea h1 {
    font-size: 16px; 
    margin: 0; 
    color: #ffffff; 
}
#playerArea {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
#playerArea h1 {
    margin-bottom: 5px; 
    color: #ffffff; 
}
.board {
    display: grid; 
    grid-template-columns: repeat(6, 1fr); 
    gap: 5px;
    padding: 15px; 
    background-color: #ffffff; 
    border-radius: 10px; 
    
}
.small-board {
    width: 150px; 
    height: 150px; 
}
.large-board {
    width: 420px; 
    height: 450px;
    padding: 15px; 
}
.card {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 5px; 
    background-color: #ffddc1; 
    
}
.small-board .card {
    width: 20px; 
    height: 20px; 
}
.large-board .card {
    width: 60px; 
    height: 80px; 
}
.card img {
    width: 100%; 
    height: auto;
    border-radius: 5px; 
}
.placeholder {
    width: 100%; 
    height: 100%; 
    background-color: #ffab91; 
    border-radius: 5px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
#dataSection {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    bottom: 180px; 
    width: 250px; 
    background-color: #ffffff; 
    border: 2px solid #ffab91; 
    padding: 10px; 
    border-radius: 10px; 
    display: flex; 
    flex-direction: column; 
 
}
#dataSection h2 {
    margin-top: 0; 
    margin-bottom: 10px; 
    font-size: 16px; 
    color: #ff7e5f; 
}
#dataSection label {
    font-size: 11px; 
    margin-top: 2px; 
    color: #ff7e5f; 
}
#dataSection input {
    font-size: 11px; 
    padding: 4px; 
    margin-top: 2px; 
    margin-bottom: 4px; 
    border: 1px solid #ffab91; 
    border-radius: 5px; 
}
#questionBox {
    position: absolute; 
    bottom: 20px; 
    right: 20px; 
    width: 250px; 
    height: 120px; 
    background-color: #ffffff; 
    border: 2px solid #ffab91; 
    padding: 10px; 
    border-radius: 10px; 
    display: flex; 
    flex-direction: column; 
    
}
#questionBox h2 {
    margin-top: 0;
    margin-bottom: 10px; 
    font-size: 16px; 
    color: #ff7e5f; 
}
#questionBox label {
    margin-top: 3px; 
    font-size: 12px; 
    color: #ff7e5f; 
}
#questionBox input {
    font-size: 12px; 
    padding: 5px; 
    margin-top: 3px; 
    margin-bottom: 5px; 
    border: 1px solid #ffab91; 
    border-radius: 5px; 
}
#questionBox button {
    padding: 8px 10px; 
    background-color: #4CAF50; 
    color: white; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-top: 5px; 
}

#playersList {
    position: absolute; 
    bottom: 80px; 
    left: 20px; 
    width: 250px; 
    background-color: #ffffff; 
    border: 2px solid #ffab91; 
    padding: 10px; 
    border-radius: 10px; 
    display: flex; 
    flex-direction: column; 
}
#playersList h2 {
    margin-top: 0; 
    margin-bottom: 10px; 
    font-size: 16px; 
    color: #ff7e5f; 
}
.player {
    font-size: 14px; 
    color: #4CAF50; 
    margin-bottom: 5px; 
    display: flex; 
    align-items: center; 
}
.status {
    width: 10px; 
    height: 10px; 
    border-radius: 50%; 
    margin-right: 10px; 
}
.online {
    background-color: #4CAF50; 
}
#buttonContainer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 10px; 
}
#guessButton, #flipCardButton, #finishTurnButton {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 15px; 
    border-radius: 10px; 
    font-size: 12px; 
    cursor: pointer; 
}


