body {
    background-color: #8f00fc; 
    font-family: Arial, sans-serif;
}
#gameArea {
    display: flex; /* Uses flexbox to layout children elements (boards) in a row */
    justify-content: center; /* Centers children elements horizontally within the gameArea */
    gap: 20px; /* gap between each child element */
}
.board {
    display: grid; 
    grid-template-columns: repeat(6, 1fr); /* Creates 6 columns of equal width */
    gap: 10px; /* 1o pixel between each item */
    padding: 10px; /* Adds padding around the content of each board */
    background-color: #FFF; 
    border-radius: 10px; 
    
}
.card {

    height: 80px; /* Sets the height of each card */
    background-color: #FFF;
    display: flex; /* Uses flexbox to layout elements inside the card */
    justify-content: center; /* Centers children elements horizontally inside the card */
    align-items: center; /* Centers children elements vertically inside the card */
    border-radius: 5px;
}
.card img {
    width: 70px; 
    height: auto; /* Maintains the aspect ratio of the images */
    border-radius: 5px; 
}
.placeholder {
    width: 70px; 
    height: 70px; 
    background-color: #ccc; /* Sets the background color of the placeholder to light gray */
    border-radius: 5px; 
    display: flex; /* Uses flexbox to layout elements inside the placeholder */
    justify-content: center; /* Centers text horizontally inside the placeholder */
    
}
